
body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}
nav {
  color: white;
}
.main-container {
  display: flex;
  width: 80%;
  max-width: 900px;
  margin: auto;
  padding-bottom: 40px;
  background-color: white;
  padding: 20px;
}
.main-container ul {
  display: flex;
  flex-direction: column;
}
thead td {
  text-decoration: underline;
}
label {
  display: flex;
  flex-direction: column;
}
table {
  border: 1px solid grey;
}
input{
  margin-top: 10px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li:nth-child(1) {
  margin-right: auto;
}
li {
  margin-left: 10px;
}
 a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}
table {
  width: 100%;
  table-layout: fixed;
}
.row {
  display: flex;
  width: 100%;
  flex-direction: row;
}
td{
  word-wrap: break-word;
}
.users{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.users td {
  font-size: 1.2rem;
  padding: 10px;
}
.selectUserTable tr td{
  color: blue;
}
.selectUserTable tr td:hover{
  cursor: pointer;
  background: lightgrey;
}

.active {
  background: lightgrey;
}

.users input {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.users button {
  font-size: 1.25rem;
  max-width: 120px;
  border-radius: 5px;
  border: none;
  padding: 8px;
  color: white;
  background-color: grey;
  align-self: flex-end;
}

.users button:hover {
  cursor: pointer;
}